
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/index.css">

<style type="text/css">

</style>
<body>
<div class="header"> 
	<span class="commonHeader" style="display:none">
		<i class="fa fa-bars"></i>
		YT Music
		<i class="fa fa-search fr"></i>
	</span>
	<span id="searchHeader">

	</span>
</div>
<div class="content">
<div id="searchBox">  </div>
<div id="results">
</div>

<div class="mylibContainer" style="

">

<div id="lib">


</div>
</div>

</div>

<div id="player"></div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>

<script src="https://fb.me/react-0.14.6.js"></script>
<script src="https://fb.me/react-dom-0.14.6.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<script type="text/javascript">
var ShareSong = Backbone.Model.extend({
	urlRoot:"/api/share"
})

</script>
<script type="text/babel">



var UserSong = Backbone.Model.extend({
	urlRoot:"/api/collection"
})


var ShareSong = Backbone.Model.extend({
	urlRoot:"/api/share"
})

var UserSongCollection = Backbone.Collection.extend({
	url:'api/getUserCollection/auth',
	model:UserSong,
	initialize:function(){
	}
});

var i = 0;

var SearchResultItem = Backbone.Model.extend({
	idAttribute:"etag",
	checkInMyCollection:function(){
		var foundModels = userSongCollection.where({id:this.get("id").videoId});
		var inLib = false;
		if(foundModels.length == 0){
			this.set("inLib", false);
		}else{
			this.set("inLib", true);
			
		}
	},
	initialize:function(){
		this.checkInMyCollection();
		
		this.listenTo(userSongCollection,'remove',this.checkInMyCollection);
		this.listenTo(userSongCollection,'add',this.checkInMyCollection);
	}
});
var SearchResultCollection = Backbone.Collection.extend({
	model:SearchResultItem
});





function searchStr(q,cb){
	$.ajax({
		url:"/api/search?q="+q,
		success:function(d){
			d = JSON.parse(d);
			cb(d.items);
			
		}
	})
}





var SearchResult =React.createClass({
	componentDidMount:function(){
		var _this = this;
		userSongCollection.on('add',function(a,b){
			_this.render();
		})

		userSongCollection.on('remove',function(a,b){
			_this.render();
		})

	},
	render:function(){
		
		return  <div>
				
				<ul>
        			{this.props.results.models.map(function(result) {
        				

           				return <SearchResultItem inLib={result.get("inLib")} key={result.get("id").videoId} model={result} />;
        			})}
      			</ul>
      			</div>
	}
})

var SearchResultItem = React.createClass({
  getInitialState:function(){

  	return {inLib:this.props.inLib};
  },
  componentDidMount:function(){
  		this.props.model.listenTo(this.props.model,"change",function(e){
  			console.log(e)
  			this.setState({inLib:this.props.model.get("inLib")})
  		}.bind(this))
  },
  componentWillUnmount:function(){
  	console.log("Unmounting")
  },
  addToMyCollection:function(){
  			if(this.state.inLib){
  				return;
  			}
  			var _this = this;
  			console.log(this)
  	
  			var songModel = new UserSong();
			songModel.save({name:this.props.model.get("snippet").title,
				videoid:this.props.model.get("id").videoId,
				thumb:this.props.model.get("snippet").thumbnails.default.url
			},{success:function(d){
				console.log(d)
				userSongCollection.add(songModel);
			}});
  },
  render: function() {


  	var collectionText = this.state.inLib? 'In your collection':'[+] Add to my collection';
  	var exists = this.state.inLib?"add exists":"add";
    return <div className="cont">
			  <div className="fl thumb">
			    <img src={this.props.model.get("snippet").thumbnails.default.url} alt=""/>
			  </div>
			  <span className="fl details">
			    <div className="title">{this.props.model.get("snippet").title}</div>
			    <div className="channel">{this.props.model.get("snippet").channelTitle}</div>
			    <div className="desc">{this.props.model.get("snippet").description}</div>
			    <div className={exists} onClick={this.addToMyCollection} >{collectionText}</div>
			  </span>
			</div>

  }
});


var SearchHeader = React.createClass({
	getInitialState:function(){
		return {showSearch:false,result:new SearchResultCollection()};
	},
	componentDidMount:function(){
		this.refs.inp.addEventListener("keyup",function(e){
			if(e.keyCode == 13){

			
				var searchQ = this.refs.inp.value;
				searchStr(searchQ,function(d){
					console.log(d)
					var temp = this.state.result
					temp.set(d);
					this.setState({result:temp});
					this.setState({showSearch:true});

					$(window).trigger("showSearch",true)
				
				
				}.bind(this))
		

			}
		}.bind(this))
	},
	clearInput:function(){
		this.refs.inp.value = "";
	},
	hideSearch:function(){
		this.setState({showSearch:false});
		$(window).trigger("showSearch",false);
	},
	render:function(){
		return <div>
				<span className="searchHeaderControls">
					<i onClick={this.hideSearch}  className="fa fa-angle-left"></i>
					<input ref="inp" placeholder="Search"/>
					<i onClick={this.clearInput} className="fa fa-times fr cross"></i>

				</span>
				<div className={"searchReusltContainer "+(this.state.showSearch?"":"hide")}>
					<SearchResult results={this.state.result}/>
				</div>
				</div>
	}
})












var userSongCollection = new UserSongCollection();

var MyLibrary = React.createClass({
	getInitialState:function(){
		return {hidden:false,"collection":{"models":[]}};
	},
	componentDidMount :function(){

		
		var _this = this;
		userSongCollection.fetch({success:function(d){
			_this.setState({collection:userSongCollection});
		}});

		userSongCollection.on('add',function(a,b){
			_this.setState({collection:userSongCollection});
		})

		userSongCollection.on('remove',function(a,b){
			_this.setState({collection:userSongCollection});
		})

		$(window).on("showSearch",function(e,d){
			if(d == true){
				this.hide();

			}else{
				this.show();

			}
		}.bind(this));


	},
	show:function(){
		this.setState({hidden:false});
	},
	hide:function(){
		this.setState({hidden:true});
	},
	handleClick:function(model){
		$(window).trigger("play",{currentTrack:model,playlist:this.state.collection});
	},
	render:function(){
		var hidden = this.state.hidden?"hide":"";
		var _this = this;
		return  <div className ={hidden} >
				<span className="myCollectionHeader">My Collection [{this.state.collection.models.length}]</span>
				<ul className="lib-list">
					{this.state.collection.models.map(function(result) {
           				return <LibraryItem key={result.get("id")} model={result} playFn={_this.handleClick} />;
        			})}
      			</ul>
      			</div>
	}
});



var LibraryItem = React.createClass({
  getInitialState:function(){
  	return null;
  },
  removeFromMyCollection:function(){
  			this.props.model.destroy();
  },
  playThis:function(){
  	this.props.playFn(this.props.model);
  	//$(window).trigger("play",this.props.model)
  },
  download:function(){
  		ga('send', 'event', 'Song', 'download', this.props.model.get("name") );
  },
  render: function() {
  	var collectionText = '[-] Remove from collection';
  	var exists = "add"
    return <div className="cont">
			  <div className="fl thumb">
			    <img src={this.props.model.get("thumb")} alt=""/>
			  </div>
			  <span className="fl details">
			    <div className="title">{this.props.model.get("name")}</div>
		
			    <i className="fa fa-play-circle play" onClick={this.playThis}></i>
			    <a href={"whatsapp://send?text=Checkout *"+this.props.model.get("name") +"* on bamusic https://bamusic.in/track/"+this.props.model.get("id")} >
			    		<i className="fa fa-whatsapp" aria-hidden="true"></i> 
			    </a>
			    
			    <a href={this.props.model.get("uri")+"?filename="+this.props.model.get("name")} onClick={this.download} download>
			    		<i className="fa fa-download download"></i>
			    </a>

			    <i className="fa fa-trash delete" onClick={this.removeFromMyCollection}></i>
			    
			  </span>
			</div>

  }
});

var Player = React.createClass({
	getInitialState:function(){
		return {name:"",src:"",playing:false};
	},
	play:function(){
		setTimeout(function(){
			$("audio")[0].play();
		},100);
	},
	pause:function(){
		$("audio")[0].pause();
	},
	startPlay:function(event){
		$(window).trigger("endPlay",this.state)
	},
	componentDidMount:function(){
		
		var _this = this;
		$(window).on("play",function(e,obj){
			_this.setState({playlist:obj.playlist})
			_this.setState({nowPlaying:obj.currentTrack})


			 var d = obj.currentTrack;
			 ga('send', 'event', 'Song', 'play', d.get("name") );


			_this.setState({name:d.get("name")})
			_this.setState({src:d.get("uri")})
			_this.setState({origsrc:d.get("uri")})
			_this.refs.aud.src = d.get("uri");
			_this.play();
		});

		$(this.refs.aud).on('ended', function(){

			var pos = 0;
			for (var i = 0; i < _this.state.playlist.length; i++) {
				if(_this.state.playlist.models[i].get("name") == _this.state.name){
					pos = i;
					break;
				}
			};

		

			if(pos < _this.state.playlist.models.length-1){
				$(window).trigger("play",{
					currentTrack:_this.state.playlist.models[pos+1],
					playlist:_this.state.playlist })
			}
		});

/*		this.wavesurfer = WaveSurfer.create({
    		container: '.wavePlayer',
    		waveColor: 'violet',
    		progressColor: 'purple',
    		fillParent:true
		});

		this.wavesurfer.on('ready', function () {
    		_this.wavesurfer.play();
    		_this.setState({playing:true});
		});

		this.wavesurfer.on('finish', function (e) {
    		_this.setState({playing:false});
		});*/




		
	},
	playPauseClick:function(e){
		if(this.state.src != ""){
			this.wavesurfer.playPause();
		}
		this.setState({playing:!this.state.playing});



	},
	ended:function(){
		console.log(this.state)
	},
	render:function(){
		var buttonToShow = this.state.playing?"pause":"play";
		var buttonClassName = "playPause fa fa-"+buttonToShow+"-circle";
		return <div className="nowPlaying">
					<div className="controls">
						<i className=" prevButton fa fa-fast-backward"></i>
						<i className={buttonClassName} onClick={this.playPauseClick}></i>
						<i className="nextButton fa fa-fast-forward"></i>
					</div>
					<div className="wavePlayer">
							<audio ref="aud" onEnded={this.ended} controls source src="" type="audio/mpeg">
							Your browser does not support the audio element.
							</audio>
					</div>
				</div>
	}
})



$(document).ready(function(){




					ReactDOM.render(
  					<MyLibrary />,document.getElementById('lib')
					);

					ReactDOM.render(
  					<Player />,document.getElementById('player')
					);

					ReactDOM.render(
  					<SearchHeader />,document.getElementById('searchHeader')
					);

					

					
})



</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73035652-1', 'auto');
  ga('send', 'pageview');

</script>
</html>