.watermark {
  background-image: url(../images/launcher.png);
  background-size: 57px 57px;
}

.logo {
   background-image: url(../images/launcher.png);
}

.background{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,356aa0+100;Blue+Flat */
	background: #356aa0; /* Old browsers */
	background: -moz-linear-gradient(top,  #356aa0 0%, #356aa0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #356aa0 0%,#356aa0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #356aa0 0%,#356aa0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */

}